@model CondoManagementWebApp.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Recover password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fix-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="card mb-0 h-auto">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <a href="@Url.Action("Index", "Home")"><img class="logo-auth" src="~/images/logo-full.png" alt="Logo"></a>
                        </div>
                        <h4 class="text-center mb-4">@ViewData["Title"]</h4>

                        <hr class="mt-4 mb-5" style="border-top: 1px solid #e0e0e0; opacity: 0.8;" />

                        <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>

                        <form asp-controller="Account" asp-action="RequestResetPassword" method="post">
                            <input type="hidden" asp-for="Token" />
                            <input type="hidden" asp-for="UserId" />

                            <div class="form-group mb-4">
                                <label class="form-label" asp-for="Password">New password</label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-warning"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label class="form-label" asp-for="ConfirmPassword">Confirm</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                            </div>

                            <div class="form-group mt-3 d-flex justify-content-between align-items-center">
                                <a asp-action="Login" asp-controller="Account" class="btn btn-outline-secondary">Back to Login</a>
                                <button type="submit" class="btn btn-primary">Reset password</button>
                            </div>
                        </form>

                        <flash dismissable="true" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}