@model CondoManagementWebApp.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-controller="Account" asp-action="SendResetPassword"  method="post" asp-controller="Account" asp-action="SendResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Password" class="control-label">New password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset password" class="btn btn-action-primary" />
            </div>
        </form>
        <flash dismissable="true" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}