@model ClassLibrary.DtoModels.FinancialAccountDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Financial Account</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IsActive" />
            <input type="hidden" asp-for="OwnerName" />
            <input type="hidden" asp-for="Balance" />
            <input type="hidden" name="email" value="@ViewBag.Email" />

            
          
           
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssociatedBankAccount" class="control-label"></label>
                <input asp-for="AssociatedBankAccount" class="form-control" />
                <span asp-validation-for="AssociatedBankAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Activate Account" class="btn btn-primary" />
                <a asp-action="@ViewBag.ReturnUrl" asp-route-id="@ViewBag.ReturnId" asp-route-email="@ViewBag.Email">Back to List</a>
            </div>
        </form>
    </div>
</div>

