

@model CondoManagementWebApp.Models.IndexExpensesViewModel;

@{
    ViewData["Title"] = "Condominium Expenses";
}

<div class="d-flex justify-content-between align-items-center mb-3">

    @if(Model.CondominiumName != null)
    {
        <h1>@Model.CondominiumName Expenses</h1>
    }
    else
    {
        <h2>You are not managing any condominiums currently</h2>
    }

    
</div>

@if (Model.ExpensesDto != null && Model.ExpensesDto.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Expense type
                </th>
                <th>
                    Detail
                </th>
                <th>
                    Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ExpensesDto)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseTypeDto.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No expenses found.</p>
}

